registry=https://registry.npmmirror.com
electron_mirror=https://cdn.npmmirror.com/binaries/electron/
electron_builder_binaries_mirror=https://cdn.npmmirror.com/binaries/electron-builder-binaries/
ELECTRON_MIRROR=https://cdn.npmmirror.com/binaries/electron/
enable-pre-post-scripts=true
